In [ ]:

import pandas as pd
import numpy as np

# En tu cuaderno...

# Para esta y las siguientes actividades, usaremos el dataset movies.csv (disponible en "Aules"). 
# Este fichero contiene información sobre miles de películas, incluyendo su presupuesto, recaudación, 
# género y clasificación por edades.

# Instrucciones:

# A continuación, usa los métodos de inspección inicial para responder a las siguientes preguntas:

In [14]:
# Carga el dataset en un DataFrame llamado df_movies.

df_movies = pd.read_csv("movies.csv")

# Aqui lo que se hace es leer lo que hay en el fichero del csv movies, y la variable lo guarda como DataFrame

In [15]:

# Averigua qué significa cada columna y qué tipo de datos contiene.

print(df_movies)

# La primera columna es el nombre de la película, la segunda el presupuesto de la pelicula,
# la tercera es el dinero total que gana en taquilla la película dentro de su propio país
# sin descontar gastos de distribución y exhibicion 
# La cuarta columna es el total del dinero que una película gana en taquilla en todo el mundo
# La quinta columna es la restricción de edad de la película, y la sexta su género
#

                                 movie  production_budget  domestic_gross  \
0                        Evan Almighty        175000000.0     100289690.0
1                           Waterworld        175000000.0      88246220.0
2     King Arthur: Legend of the Sword        175000000.0      39175066.0
3                             47 Ronin        175000000.0      38362475.0
4       Jurassic World: Fallen Kingdom        170000000.0     416769345.0
...                                ...                ...             ...
3396                        Like Crazy           250000.0       3395391.0
3397                        Chuck&Buck           250000.0       1055671.0
3398       Love and Other Catastrophes           250000.0        212285.0
3399        I Married a Strange Person           250000.0        203134.0
3400                          November           250000.0        191862.0

      worldwide_gross mpaa_rating      genre
0        1.741313e+08          PG     Comedy
1        2.642462e+08       PG-13     Action
2        1.399507e+08       PG-13  Adventure
3        1.517168e+08       PG-13     Action
4        1.304866e+09       PG-13     Action
...               ...         ...        ...
3396     3.728400e+06       PG-13      Drama
3397     1.157672e+06           R      Drama
3398     7.432160e+05           R     Comedy
3399     2.031340e+05         NaN     Comedy
3400     1.918620e+05           R      Drama

[3401 rows x 6 columns]

In [16]:
# Traduce el nombre de las columnas al español para que sea más sencillo trabajar con ellas.

df_movies = df_movies.rename(columns={
    'movie': 'Película',
    'production_budget': 'Presupuesto_Producción',
    'domestic_gross': 'Recaudación_Doméstica',
    'worldwide_gross': 'Recaudación_Mundial',
    'mpaa_rating': 'Clasificación_mpaa_Edad',
    'genre': 'Género'
})

In [ ]:
# Usa .head(). A simple vista, ¿qué columnas parecen ser numéricas y cuáles parecen contener texto?

df_movies.head()

# Parecen ser numéricas tanto Presupuesto_Producción, Recaudación_Doméstica y Recaudación_Mundial.
# Las de texto son Película, Clasificación_mpaa_Edad y Género

,Película,Presupuesto_Producción,Recaudación_Doméstica,Recaudación_Mundial,Clasificación_mpaa_Edad,Género
0,Evan Almighty,175000000.0,100289690.0,1.741313e+08,PG,Comedy
1,Waterworld,175000000.0,88246220.0,2.642462e+08,PG-13,Action
2,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,PG-13,Adventure
3,47 Ronin,175000000.0,38362475.0,1.517168e+08,PG-13,Action
4,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,PG-13,Action

In [ ]:
# Usa .info(). ¿Cuántas películas (filas) y características (columnas) hay en total? 
# ¿Detectas alguna columna a la que le falten datos?

df_movies.info()

# Hay 3401 filas y características, eso si, la columna de clasificación_mpaa_Edad solo tiene 3264 filas, mientras que las demás son 3401

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401 entries, 0 to 3400
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Película                 3401 non-null   object
 1   Presupuesto_Producción   3401 non-null   float64
 2   Recaudación_Doméstica    3401 non-null   float64
 3   Recaudación_Mundial      3401 non-null   float64
 4   Clasificación_mpaa_Edad  3264 non-null   object
 5   Género                   3401 non-null   object
dtypes: float64(3), object(3)
memory usage: 159.6+ KB

In [ ]:
# Usa .describe(). ¿Cuál fue el presupuesto de producción (production_budget) más alto? ¿Y el más bajo?# 

df_movies.describe()

# El presupuesto de producción más alto es de 1.750000e+0, y el más bajo de 2.500000e+05

       Presupuesto_Producción  Recaudación_Doméstica  Recaudación_Mundial
count            3.401000e+03           3.401000e+03         3.401000e+03
mean             3.328474e+07           4.542179e+07         9.411512e+07
std              3.489239e+07           5.882566e+07         1.409182e+08
min              2.500000e+05           0.000000e+00         0.000000e+00
25%              9.000000e+06           6.118683e+06         1.061881e+07
50%              2.000000e+07           2.553382e+07         4.015902e+07
75%              4.500000e+07           6.032379e+07         1.176152e+08
max              1.750000e+08           4.745447e+08         1.304866e+09

In [ ]:
# Observa de nuevo .describe() para la columna de recaudación mundial (worldwide_gross). 
# ¿Qué te llama la atención del valor mínimo (`min`)? ¿Tiene sentido que sea 0.0?#

df_movies.describe()

# Lo más probable es que haya algún valor como NaN, o extraño que corrompe la operación

       Presupuesto_Producción  Recaudación_Doméstica  Recaudación_Mundial
count            3.401000e+03           3.401000e+03         3.401000e+03
mean             3.328474e+07           4.542179e+07         9.411512e+07
std              3.489239e+07           5.882566e+07         1.409182e+08
min              2.500000e+05           0.000000e+00         0.000000e+00
25%              9.000000e+06           6.118683e+06         1.061881e+07
50%              2.000000e+07           2.553382e+07         4.015902e+07
75%              4.500000e+07           6.032379e+07         1.176152e+08
max              1.750000e+08           4.745447e+08         1.304866e+09

In [ ]:
# En tu cuaderno...

# Interpretando `.describe()` con el dataset de películas:

# Ahora es tu turno. Aplica el método .describe() a tu DataFrame df_movies y responde a las siguientes preguntas para guiar tu interpretación:

# 	Presupuesto_Producción	Recaudación_Doméstica	Recaudación_Mundial
# count	3.401000e+03	            3.401000e+03	3.401000e+03
# mean	3.328474e+07	            4.542179e+07	9.411512e+07
# std	3.489239e+07	            5.882566e+07	1.409182e+08
# min	2.500000e+05	            0.000000e+00	0.000000e+00
# 25%	9.000000e+06	            6.118683e+06	1.061881e+07
# 50%	2.000000e+07	            2.553382e+07	4.015902e+07
# 75%	4.500000e+07	            6.032379e+07	1.176152e+08
# max	1.750000e+08	            4.745447e+08	1.304866e+09

In [ ]:
# Observa la media (mean) y la mediana (50%) de la columna production_budget. ¿Son muy diferentes? 
# ¿Qué te sugiere esto sobre cómo se distribuyen los presupuestos? (Pista: piensa en el efecto de unas pocas películas con presupuestos gigantescos).

# Si, la media y la mediana son muy distintos, la media es de 3.328474e+07 y la mediana es de 2.000000e+07, esta diferencia ocurre porque la media
# tiene en cuenta la operación típica que suma todos los presupuestos de la película y los divide entre la cantidad de películas, mientras que la mediana
# ordena todos los presupuestos y se queda con el más cercano a la mitad, en este caso 2.000000e+07, hay una diferencia de 1.320000e+07, bastante grande.

# Todo esto me sugiere que hay presupuestos muy altos y muy bajos, que alteran la realidad de una media normal, mientras que la mediana te da la realidad
# sin tener en cuenta una media normal aluso

In [ ]:
# Fíjate en la desviación estándar (std) de worldwide_gross. ¿Es un valor alto en comparación con la media? 
# te dice esto sobre si la mayoría de las películas recaudan una cifra similar o si hay mucha variabilidad?

# Hay una diferencia bastante clara entre la media y la desviación estándar, la media es de 3.401000e+03 y la desviación estándar es de 1.409182e+08, 
# esta diferencia nos hace entender que entre una película y otra habrá una diferencia de recaudación mundial de 1.409182e+08, esta diferencia puede ser o 
# o de mayor gasto de 1.409182e+08, o de menor gasto de 1.409182e+08. Por lo que si que puede haber una diferencia grande en una película si aplicamos esa diferencia,
# una película puede tener 1.5, y otra puede tener 4, personalmente considero que es una diferencia grande. Definitivamente hay una diferencia grande entre lo 
# que recauda cada película

In [ ]:
# Compara el valor del 75% (tercer cuartil) con el valor máximo (max) para la misma columna worldwide_gross. 
# ¿Qué te indica esta enorme diferencia sobre el éxito en taquilla?

# El valor del 75% es de 1.176152e+08, mientras que el valor máximo es de 1.304866e+09, si que se puede ver una gran diferencia
# ya que al dividir las partes en percentiles hemos omitido toda la parte restante que hay entre el máximo (1.304866e+09) y el 75% (1.176152e+08)