In [69]:
import pandas as pd
import numpy as np

# 1. Conversor de Temperatura: Crea un DataFrame con una columna 'Celsius' 
# que contenga los valores [22, 25, 19, 30]. Usa .apply() para añadir una nueva columna 
# 'Fahrenheit' con las temperaturas convertidas. La fórmula es: (C * 9/5) + 32.

df_temperatura = pd.DataFrame({'Celsius': [22, 25, 19, 30]})
df_temperatura['Fahrenheit'] = df_temperatura['Celsius'].apply(lambda x: (x * 9/5) + 32)

print(df_temperatura)

   Celsius  Fahrenheit
0       22        71.6
1       25        77.0
2       19        66.2
3       30        86.0

In [70]:
# 2. Categorización por Precio: Partiendo de un DataFrame con una columna 'Precio' ([15, 99, 150, 45]), define una función que clasifique los productos en 'Barato' 
# (<50), 'Medio' (50-100) y 'Caro' (>100). Aplica esta función para crear una nueva columna llamada 'Categoria_Precio'.

def clasificar_producto(precio):
    if precio < 50:
        return "Barato"
    elif 50 <= precio <= 100:
        return "Medio"
    elif precio > 100:
        return "Caro"
    else:
        return "Sin precio"
    
df_precios = pd.DataFrame({"Precio":[15, 99, 150, 45]})
df_precios["Categoria_Precio"] = df_precios["Precio"].apply(clasificar_producto)

print(df_precios)

   Precio Categoria_Precio
0      15           Barato
1      99            Medio
2     150             Caro
3      45           Barato

In [ ]:
# 3. Mapeo de Códigos: Tienes un DataFrame con una columna 'Codigo_Turno' y los valores ['M', 'T', 'N', 'M']. Utiliza el método .map() 
# y un diccionario para crear una nueva columna 'Turno_Completo' que traduzca 'M' a 'Mañana', 'T' a 'Tarde' y 'N' a 'Noche'.

df_turno = pd.DataFrame({"Codigo_Turno" : ['M', 'T', 'N', 'M']})
df_turno["Turno_Completo"] = df_turno["Codigo_Turno"].map({'M': 'Mañana', 'T': 'Tarde', 'N': 'Noche'})

print(df_turno)

  Codigo_Turno Turno_Completo
0            M         Mañana
1            T          Tarde
2            N          Noche
3            M         Mañana

In [72]:
# 4. Calificación con Lambda: Dado un DataFrame con una columna de notas ([4, 7, 9, 5, 10]), usa una función lambda dentro de .apply() 
# para generar una columna 'Resultado' que muestre 'Suspendido' para notas menores a 5 y 'Aprobado' para el resto.

df_notas = pd.DataFrame({"Notas": [4, 7, 9, 5, 10]})
# Las funciones LAMBDA funcionan así: lambda x: valor_si_verdadero if condicion else valor_si_falso
df_notas['Resultado'] = df_notas['Notas'].apply(lambda x: "Aprobado" if x >= 5 else "Suspendido")
print(df_notas)

   Notas   Resultado
0      4  Suspendido
1      7    Aprobado
2      9    Aprobado
3      5    Aprobado
4     10    Aprobado

In [73]:
# 5. Bonificación por Rendimiento: Una empresa quiere calcular una bonificación. La bonificación base es el 10% de las ventas anuales, 
# pero se ajusta por un multiplicador según el rendimiento del empleado. Tu objetivo es calcular la 'Bonificacion' final. Para ello, crea 
# un DataFrame con los datos de abajo y un diccionario de mapeo para los multiplicadores. Luego, utiliza .apply() sobre las filas (axis=1) 
# y, dentro de la lambda, accede al multiplicador correspondiente para realizar el cálculo final.

datos_empleados = {
    'Empleado': ['Ana', 'Luis', 'Marta'],
    'Ventas_Anuales': [50000, 62000, 45000],
    'Rendimiento': ['B', 'E', 'R']
}

mapeo_rendimiento = {'E': 1.2, 'B': 1.0, 'R': 0.9}

df_empleados = pd.DataFrame(datos_empleados)
# Primero hay que sacar el 10% de ventas anuales de cada uno, y después a ese resultado hay que cambiarlo depende de su rendimiento, o sea, volviendo a multiplicar
# lo que le corresponde por la letra de su rendimiento
# Es necesario usar axis=1 porque se estan usando varias filas distintas, por lo que para acceder a ellas, hay que usar esa sintaxis
# Si solo fuera una, se aclararía en el apply la columna escogida.

df_empleados['Bonificacion'] = df_empleados.apply(lambda fila: (fila['Ventas_Anuales'] * 0.10) * mapeo_rendimiento[fila['Rendimiento']]  ,axis=1)

print(df_empleados)

  Empleado  Ventas_Anuales Rendimiento  Bonificacion
0      Ana           50000           B        5000.0
1     Luis           62000           E        7440.0
2    Marta           45000           R        4050.0

In [74]:
# 6. Sistema Avanzado de Puntos de Lealtad: Una plataforma de e-commerce quiere calcular los puntos de lealtad finales. 
# El cálculo es un proceso de varios pasos que combina mapeo, una función simple y una función condicional sobre las filas.

datos_clientes = {
    'Nivel_Cliente': ['Oro', 'Plata', 'Bronce', 'Plata', 'Oro'],
    'Gasto_Total': [550, 230, 150, 180, 800],
    'Evento_Especial': [True, False, False, True, False]
}

puntos_base_mapa = {'Oro': 100, 'Plata': 50, 'Bronce': 25}

def calcular_bonus(gasto):
    # 1 punto por cada 10€ de gasto
    return int(gasto / 10)

# Tu tarea:
# 1. Crea el DataFrame.

clientes_dataframe = pd.DataFrame(datos_clientes)

In [75]:
# 2. Usa .map() y 'puntos_base_mapa' para crear la columna 'Puntos_Base'.

clientes_dataframe['Puntos_Base'] = clientes_dataframe['Nivel_Cliente'].map(puntos_base_mapa)
print(clientes_dataframe)

  Nivel_Cliente  Gasto_Total  Evento_Especial  Puntos_Base
0           Oro          550             True          100
1         Plata          230            False           50
2        Bronce          150            False           25
3         Plata          180             True           50
4           Oro          800            False          100

In [76]:
# 3. Usa .apply() y la función 'calcular_bonus' en 'Gasto_Total' para crear 'Puntos_Bonus'.

clientes_dataframe['Puntos_Bonus'] = clientes_dataframe['Gasto_Total'].apply(calcular_bonus)
print(clientes_dataframe)

  Nivel_Cliente  Gasto_Total  Evento_Especial  Puntos_Base  Puntos_Bonus
0           Oro          550             True          100            55
1         Plata          230            False           50            23
2        Bronce          150            False           25            15
3         Plata          180             True           50            18
4           Oro          800            False          100            80

In [77]:
# 4. Calcula 'Puntos_Subtotal' sumando las dos columnas de puntos anteriores.

clientes_dataframe['Puntos_Subtotal'] = clientes_dataframe.apply(lambda fila: (fila['Puntos_Base'] + fila['Puntos_Bonus']), axis=1)
print(clientes_dataframe)

  Nivel_Cliente  Gasto_Total  Evento_Especial  Puntos_Base  Puntos_Bonus  \
0           Oro          550             True          100            55
1         Plata          230            False           50            23
2        Bronce          150            False           25            15
3         Plata          180             True           50            18
4           Oro          800            False          100            80

   Puntos_Subtotal
0              155
1               73
2               40
3               68
4              180

In [78]:
# 5. Finalmente, crea 'Puntos_Totales'. Usa .apply() con una lambda sobre las filas (axis=1). Si la columna 'Evento_Especial' es True para una fila, duplica su 'Puntos_Subtotal'; de lo contrario, déjalo como está.

clientes_dataframe['Puntos_Totales'] = clientes_dataframe.apply(lambda fila: fila['Puntos_Subtotal'] * 2 if fila['Evento_Especial'] == True else fila['Puntos_Subtotal'] ,axis=1)
print(clientes_dataframe)

  Nivel_Cliente  Gasto_Total  Evento_Especial  Puntos_Base  Puntos_Bonus  \
0           Oro          550             True          100            55
1         Plata          230            False           50            23
2        Bronce          150            False           25            15
3         Plata          180             True           50            18
4           Oro          800            False          100            80

   Puntos_Subtotal  Puntos_Totales
0              155             310
1               73              73
2               40              40
3               68             136
4              180             180